<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Документация задач</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
        <div class="px-4 py-5 my-5 text-center">
        <a href="#"><img src="https://img.icons8.com/dotty/80/null/balance-write-off.png" width="80" height="80" alt="logo" style="background-color: white; margin-top: 20px"></a>
    <h1 class="display-5 fw-bold">Система документации задач</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onClick='location.href="employee"'>Сотрудники</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onClick='location.href="organization"'>Организации</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onClick='location.href="document"'>Документы</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onClick='location.href="task"'>Задачи</button>
      </div>
    </div>
  </div>
</body>
</html>